# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Log files
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/

# MyPy
.mypy_cache/

# Distribution / packaging
MANIFEST
